body {
    margin: 0;
    font-family: Arial, sans-serif;
    direction: rtl;
}

main {
    background-color: #EEEEEE;
}

#a-Business-details{
    color: #EEEEEE;
    text-decoration: none;
}
#a-Business-details:hover{
    text-decoration: underline;
}

footer {
    position: fixed;
    background-color: #00ADB5;
    bottom: 0;
    width: 100%;
}

.footer-child {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-Business-details{
    background-color: #222831;
    text-decoration: none;
}

.payment-form-container{
    padding: 5%;
}

.business-details-container{
    background-color: #EEEEEE;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #00ADB5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0a9198;
}

h2 {
    text-align: right;
    margin-bottom: 10px;
    color: #393E46;
}

h3 {
    color: #393E46;
    border-bottom: 2px solid #00ADB5;
    padding-bottom: 10px;
}
h5 {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

h6 {
    text-align: right;
    color: #666;
    margin-bottom: 20px;
}



dt {
    font-weight: bold;
    color: #00ADB5;
    margin-top: 15px;
}

dd {
    margin-bottom: 10px;
}

i{
    padding: 1%;
}

#sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222831;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    
}

#sidebar a {
    margin-top: 3px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    display: block;
    transition: 0.3s;
    padding-right: 10%;
}

#sidebar a:hover {
    background-color: #575757;
}

#content {
    margin-right: 22vw;
    padding: 20px;
}

#sidebar a.payment {
    background-color: gold;
    color: #222831;
    text-align: right;
    font-weight: bold;
    padding: 1.2rem;
    padding-right: 10%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

#sidebar a.payment i {
    margin-left: 0.5rem;
}

.devider {
    border: 1px solid var(--border);
    margin: 1rem 0;
    background-color: #393E46;
}
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 7px;
    right: 7px;
    z-index: 100;
    background-color: #111;
    padding: 10px;
}

@media (max-width: 768px) {
    #sidebar {
        width: 30%;
        transform: translateX(100%);
    }

    #content {
        margin-right: 0; 
    }

    .hamburger {
        display: block;
    }

    #sidebar.show {
        transform: translateX(0);
    }
    #sidebar a{
        margin-top: 22%;
    }
}

